In [288]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import serviceHandlers as handlers
from serviceHandlers import NamSorEndpoint

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [289]:
# Getting a dataset

df = pd.read_csv("../../data/all.csv")
df = df[df['hasMiddleName']==False].iloc[0:10]
df

,Unnamed: 0,fullName,firstName,lastName,gender,isoCountry,continent,birthYear,hasMiddleName,hasNoLastName,source
0,0,Clara Benson,Clara,Benson,female,GH,Africa,2000,False,False,wikidata
2,2,Dalia Ziada,Dalia,Ziada,female,EG,Africa,1982,False,False,wikidata
3,3,Fatou Haidara,Fatou,Haidara,female,ML,Africa,1962,False,False,wikidata
4,4,Claude Haffner,Claude,Haffner,female,NaN,NaN,1976,False,False,wikidata
7,7,Diallo Sène,Diallo,Sène,female,ML,Africa,1952,False,False,wikidata
8,8,Fatoumata Sylla,Fatoumata,Sylla,female,ML,Africa,1954,False,False,wikidata
11,11,Manuella Ollo,Manuella,Ollo,female,NaN,NaN,1985,False,False,wikidata
12,12,Awa Traoré,Awa,Traoré,female,ML,Africa,1980,False,False,wikidata
17,17,Lorna Doorman,Lorna,Doorman,female,ZW,Africa,1998,False,False,wikidata
18,18,Enayat al-Zayyat,Enayat,al-Zayyat,female,EG,Africa,1936,False,False,wikidata

# Testing GenderizeIoHandler

In [290]:
genderizeIO_handler = handlers.GenderizeIoHandler(datasource=df, hasSubscription=False)
genderizeIO_handler.get_prediction(True)

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extraCount,extraProbability
0,0,Clara Benson,Clara,female,female,GH,True,genderize.IO,247083,0.99
1,1,Dalia Ziada,Dalia,female,female,EG,True,genderize.IO,87214,0.99
2,2,Fatou Haidara,Fatou,female,female,ML,True,genderize.IO,25477,0.98
3,3,Claude Haffner,Claude,female,male,NaN,True,genderize.IO,161269,0.93
4,4,Diallo Sène,Diallo,female,male,ML,True,genderize.IO,8032,0.82
5,5,Fatoumata Sylla,Fatoumata,female,female,ML,True,genderize.IO,15498,0.99
6,6,Manuella Ollo,Manuella,female,female,NaN,True,genderize.IO,12717,0.99
7,7,Awa Traoré,Awa,female,female,ML,True,genderize.IO,16472,0.93
8,8,Lorna Doorman,Lorna,female,female,ZW,True,genderize.IO,53554,1.00
9,9,Enayat al-Zayyat,Enayat,female,male,EG,True,genderize.IO,1276,0.56

# Testing GenderAPI

In [291]:
genderAPI_IO_Handler = handlers.GenderAPI_IO_Handler(datasource=df)

genderAPI_IO_Handler.get_prediction(False)

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extraTotalName,extraProbability,extraCountryUsedByService,extraUsedAI,extraForcedGenderize
0,0,Clara Benson,clara,female,female,GH,False,genderAPI.io,9346,99,BR,False,False
1,1,Dalia Ziada,dalia,female,female,EG,False,genderAPI.io,2134,100,MX,False,False
2,2,Fatou Haidara,fatou,female,female,ML,False,genderAPI.io,121,100,US,False,False
3,3,Claude Haffner,claude,female,male,NaN,False,genderAPI.io,1561,91,US,False,False
4,4,Diallo Sène,diallo,female,male,ML,False,genderAPI.io,79,90,US,False,False
5,5,Fatoumata Sylla,fatoumata,female,female,ML,False,genderAPI.io,50,100,US,False,False
6,6,Manuella Ollo,manuella,female,female,NaN,False,genderAPI.io,744,99,BR,False,False
7,7,Awa Traoré,awa,female,female,ML,False,genderAPI.io,178,60,ID,False,False
8,8,Lorna Doorman,lorna,female,female,ZW,False,genderAPI.io,1230,100,US,False,False
9,9,Enayat al-Zayyat,enayat,female,male,EG,False,genderAPI.io,12,100,IN,False,False

# Testing GenderGuesser

In [292]:
genderGuesserHandler = handlers.GenderGuesserHandler(df)

genderGuesserHandler.get_prediction(False)

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extraPreciseGenderPredicted
0,0,Clara Benson,Clara,female,female,GH,False,genderGuesser,female
1,1,Dalia Ziada,Dalia,female,female,EG,False,genderGuesser,female
2,2,Fatou Haidara,Fatou,female,unknown,ML,False,genderGuesser,unknown
3,3,Claude Haffner,Claude,female,None,NaN,False,genderGuesser,mostly_male
4,4,Diallo Sène,Diallo,female,unknown,ML,False,genderGuesser,unknown
5,5,Fatoumata Sylla,Fatoumata,female,unknown,ML,False,genderGuesser,unknown
6,6,Manuella Ollo,Manuella,female,female,NaN,False,genderGuesser,female
7,7,Awa Traoré,Awa,female,female,ML,False,genderGuesser,female
8,8,Lorna Doorman,Lorna,female,female,ZW,False,genderGuesser,female
9,9,Enayat al-Zayyat,Enayat,female,unknown,EG,False,genderGuesser,unknown

# Testing GenderAPI.com

In [293]:
genderAPI_com_handler = handlers.GenderAPI_com_Handler(df)

genderAPI_com_handler.get_prediction(True, True)

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extraProbability,extraIdentifiedFirstName,extraIdentifiedLastName
0,0,Clara Benson,Clara Benson,female,female,GH,True,genderAPI.com,0.98,Clara,Benson
1,1,Dalia Ziada,Dalia Ziada,female,female,EG,True,genderAPI.com,0.98,Dalia,Ziada
2,2,Fatou Haidara,Fatou Haidara,female,female,ML,True,genderAPI.com,0.97,Fatou,Haidara
3,3,Claude Haffner,Claude Haffner,female,male,NaN,True,genderAPI.com,0.89,Claude,Haffner
4,4,Diallo Sène,Diallo Sène,female,male,ML,True,genderAPI.com,0.80,Sène,Diallo
5,5,Fatoumata Sylla,Fatoumata Sylla,female,female,ML,True,genderAPI.com,0.98,Fatoumata,Sylla
6,6,Manuella Ollo,Manuella Ollo,female,female,NaN,True,genderAPI.com,0.98,Manuella,Ollo
7,7,Awa Traoré,Awa Traoré,female,female,ML,True,genderAPI.com,0.99,Awa,Traoré
8,8,Lorna Doorman,Lorna Doorman,female,female,ZW,True,genderAPI.com,1.00,Lorna,Doorman
9,9,Enayat al-Zayyat,Enayat al-Zayyat,female,male,EG,True,genderAPI.com,0.93,Enayat,Al-Zayyat

# Testing NamSor Handler

In [294]:
namSor_handler = handlers.NamSorHandler(df)

namSor_handler.get_prediction(endpoint=NamSorEndpoint.FULL_NAME)

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extraGenderScale,extraScore,extraProbabilityCalibrated,extraScript
0,0,Clara Benson,Clara Benson,female,female,GH,False,NamSor,0.422637,5.277817,0.711318,LATIN
1,1,Dalia Ziada,Dalia Ziada,female,female,EG,False,NamSor,0.799361,8.248163,0.899680,LATIN
2,2,Fatou Haidara,Fatou Haidara,female,female,ML,False,NamSor,0.371388,3.542893,0.685694,LATIN
3,3,Claude Haffner,Claude Haffner,female,male,NaN,False,NamSor,-0.606891,6.691676,0.803446,LATIN
4,4,Diallo Sène,Diallo Sène,female,male,ML,False,NamSor,-0.400530,5.013187,0.700265,LATIN
5,5,Fatoumata Sylla,Fatoumata Sylla,female,female,ML,False,NamSor,0.714303,7.418036,0.857152,LATIN
6,6,Manuella Ollo,Manuella Ollo,female,female,NaN,False,NamSor,0.648393,6.950068,0.824197,LATIN
7,7,Awa Traoré,Awa Traoré,female,female,ML,False,NamSor,0.646610,6.937484,0.823305,LATIN
8,8,Lorna Doorman,Lorna Doorman,female,female,ZW,False,NamSor,0.521401,6.192220,0.760700,LATIN
9,9,Enayat al-Zayyat,Enayat al-Zayyat,female,male,EG,False,NamSor,-0.384455,4.399952,0.692227,LATIN

# Testing NameAPI

In [295]:
nameAPI_handler = handlers.NameAPIHandler(df)

nameAPI_handler.get_prediction(False)

{'inputPerson': {'type': 'NaturalInputPerson', 'personName': {'nameFields': [{'string': 'Clara', 'fieldType': 'SURNAME'}]}}}
{'inputPerson': {'type': 'NaturalInputPerson', 'personName': {'nameFields': [{'string': 'Dalia', 'fieldType': 'SURNAME'}]}}}
{'inputPerson': {'type': 'NaturalInputPerson', 'personName': {'nameFields': [{'string': 'Fatou', 'fieldType': 'SURNAME'}]}}}
{'inputPerson': {'type': 'NaturalInputPerson', 'personName': {'nameFields': [{'string': 'Claude', 'fieldType': 'SURNAME'}]}}}
{'inputPerson': {'type': 'NaturalInputPerson', 'personName': {'nameFields': [{'string': 'Diallo', 'fieldType': 'SURNAME'}]}}}
{'inputPerson': {'type': 'NaturalInputPerson', 'personName': {'nameFields': [{'string': 'Fatoumata', 'fieldType': 'SURNAME'}]}}}
{'inputPerson': {'type': 'NaturalInputPerson', 'personName': {'nameFields': [{'string': 'Manuella', 'fieldType': 'SURNAME'}]}}}
{'inputPerson': {'type': 'NaturalInputPerson', 'personName': {'nameFields': [{'string': 'Awa', 'fieldType': 'SURNAME'}]}}}
{'inputPerson': {'type': 'NaturalInputPerson', 'personName': {'nameFields': [{'string': 'Lorna', 'fieldType': 'SURNAME'}]}}}
{'inputPerson': {'type': 'NaturalInputPerson', 'personName': {'nameFields': [{'string': 'Enayat', 'fieldType': 'SURNAME'}]}}}

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extrapreciseGenderPredicted,extraMaleProportion,extraConfidence
0,0,Clara Benson,Clara,female,unknown,GH,False,NameAPI,UNKNOWN,None,0.8
1,1,Dalia Ziada,Dalia,female,unknown,EG,False,NameAPI,UNKNOWN,None,0.8
2,2,Fatou Haidara,Fatou,female,unknown,ML,False,NameAPI,UNKNOWN,None,0.8
3,3,Claude Haffner,Claude,female,unknown,NaN,False,NameAPI,UNKNOWN,None,0.8
4,4,Diallo Sène,Diallo,female,unknown,ML,False,NameAPI,UNKNOWN,None,0.8
5,5,Fatoumata Sylla,Fatoumata,female,unknown,ML,False,NameAPI,UNKNOWN,None,0.8
6,6,Manuella Ollo,Manuella,female,unknown,NaN,False,NameAPI,UNKNOWN,None,0.8
7,7,Awa Traoré,Awa,female,unknown,ML,False,NameAPI,UNKNOWN,None,0.8
8,8,Lorna Doorman,Lorna,female,unknown,ZW,False,NameAPI,UNKNOWN,None,0.8
9,9,Enayat al-Zayyat,Enayat,female,unknown,EG,False,NameAPI,UNKNOWN,None,0.8