In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import serviceHandlers as handlers
from serviceHandlers import NamSorEndpoint

In [2]:
# Getting a dataset

df = pd.read_csv("../../data/all.csv")
df = df[df['hasMiddleName']==False].iloc[0:10]
df

,Unnamed: 0,fullName,firstName,lastName,gender,isoCountry,continent,birthYear,hasMiddleName,hasNoLastName,source
0,0,Clara Benson,Clara,Benson,female,GH,Africa,2000,False,False,wikidata
2,2,Dalia Ziada,Dalia,Ziada,female,EG,Africa,1982,False,False,wikidata
3,3,Fatou Haidara,Fatou,Haidara,female,ML,Africa,1962,False,False,wikidata
4,4,Claude Haffner,Claude,Haffner,female,NaN,NaN,1976,False,False,wikidata
7,7,Diallo Sène,Diallo,Sène,female,ML,Africa,1952,False,False,wikidata
8,8,Fatoumata Sylla,Fatoumata,Sylla,female,ML,Africa,1954,False,False,wikidata
11,11,Manuella Ollo,Manuella,Ollo,female,NaN,NaN,1985,False,False,wikidata
12,12,Awa Traoré,Awa,Traoré,female,ML,Africa,1980,False,False,wikidata
17,17,Lorna Doorman,Lorna,Doorman,female,ZW,Africa,1998,False,False,wikidata
18,18,Enayat al-Zayyat,Enayat,al-Zayyat,female,EG,Africa,1936,False,False,wikidata

# Testing GenderizeIoHandler

In [3]:
# genderizeIO_handler = handlers.GenderizeIoHandler(datasource=df, hasSubscription=False)
# genderizeIO_handler.get_prediction(True)

# Testing GenderAPI

In [4]:
# genderAPI_IO_Handler = handlers.GenderAPI_IO_Handler(datasource=df)

# genderAPI_IO_Handler.get_prediction(False)

# Testing GenderGuesser

In [5]:
# genderGuesserHandler = handlers.GenderGuesserHandler(df)

# genderGuesserHandler.get_prediction(False)

# Testing GenderAPI.com

In [6]:
# genderAPI_com_handler = handlers.GenderAPI_com_Handler(df)

# genderAPI_com_handler.get_prediction(True, True)

# Testing NamSor Handler

In [7]:
# namSor_handler = handlers.NamSorHandler(df)

# namSor_handler.get_prediction(endpoint=NamSorEndpoint.FULL_NAME)

# Testing NameAPI

In [13]:
nameAPI_handler = handlers.NameAPIHandler(df)

await nameAPI_handler.get_prediction(True)

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extrapreciseGenderPredicted,extraMaleProportion,extraConfidence
0,0,Clara Benson,Clara Benson,female,female,GH,False,NameAPI,FEMALE,None,0.933333
1,1,Dalia Ziada,Dalia Ziada,female,female,EG,False,NameAPI,FEMALE,None,0.933333
2,2,Fatou Haidara,Fatou Haidara,female,female,ML,False,NameAPI,FEMALE,None,0.933333
3,3,Claude Haffner,Claude Haffner,female,unknown,NaN,False,NameAPI,NEUTRAL,None,0.933333
4,4,Diallo Sène,Diallo Sène,female,male,ML,False,NameAPI,MALE,None,0.840388
5,5,Fatoumata Sylla,Fatoumata Sylla,female,female,ML,False,NameAPI,FEMALE,None,0.933333
6,6,Manuella Ollo,Manuella Ollo,female,female,NaN,False,NameAPI,FEMALE,None,0.930816
7,7,Awa Traoré,Awa Traoré,female,female,ML,False,NameAPI,FEMALE,None,0.932317
8,8,Lorna Doorman,Lorna Doorman,female,female,ZW,False,NameAPI,FEMALE,None,0.933333
9,9,Enayat al-Zayyat,Enayat al-Zayyat,female,male,EG,False,NameAPI,MALE,None,0.999165