In [16]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import serviceHandlers as handlers

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
# Getting a dataset

df = pd.read_csv("../../data/all.csv")
df = df[df['hasMiddleName']==False].iloc[0:3]
df

,Unnamed: 0,fullName,firstName,lastName,gender,isoCountry,continent,birthYear,hasMiddleName,hasNoLastName,source
0,0,Clara Benson,Clara,Benson,female,GH,Africa,2000,False,False,wikidata
2,2,Dalia Ziada,Dalia,Ziada,female,EG,Africa,1982,False,False,wikidata
3,3,Fatou Haidara,Fatou,Haidara,female,ML,Africa,1962,False,False,wikidata

# Testing GenderizeIoHandler

In [18]:
# genderizeIO_handler = handlers.GenderizeIoHandler(datasource=df, hasSubscription=False)
# test_df = genderizeIO_handler.get_prediction(True)

In [19]:
# test_df

# Testing

In [ ]:
genderAPI_handler = handlers.GenderAPIHandler(datasource=df)

response = genderAPI_handler.get_prediction(False)
response

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extraTotalName,extraProbability,extraCountryUsedByService,extraUsedAI,extraForcedGenderize
0,0,Clara Benson,clara,female,female,GH,False,genderAPI,9346,99,BR,False,False
1,1,Dalia Ziada,dalia,female,female,EG,False,genderAPI,2134,100,MX,False,False
2,2,Fatou Haidara,fatou,female,female,ML,False,genderAPI,121,100,US,False,False