The goal of this notebook is to smooth out the differences between various tools used in this study when collecting their answers on our datasets. It does not change the nature of their answer, but simply insure that they can be processed for analysis without trouble.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%cd ../..
%load_ext autoreload
%autoreload 2

c:\Users\brief\Desktop\Master\Ecole\Semestre3\M8_ProjetDeRecherche\code_ProjetDeRecherche

C:\Users\brief\AppData\Roaming\Python\Python312\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [3]:
def fillNaWithUnknown(df:pd.DataFrame)->pd.DataFrame:
    df.loc[df['predictedGender'].isna(), 'predictedGender'] = "unknown"
    return df

In [4]:
def addIsCorrectColumn(df:pd.DataFrame)->pd.DataFrame:
    df["isCorrect"] = df['correctGender'] == df['predictedGender']
    return df

# Genderize

## Kaggle First Country

In [28]:
df_kaggleFirstCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/Genderize/kaggleFirstCountry.csv")

In [29]:
df_kaggleFirstCountry.head()

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extraCount,extraProbability
0,4874,ALEKSANYAN Artur,Artur,male,male,AM,True,genderize.IO,138242,1.00
1,4875,AMOYAN Malkhas,Malkhas,male,male,AM,True,genderize.IO,3,1.00
2,4876,GALSTYAN Slavik,Slavik,male,male,AM,True,genderize.IO,2018,0.99
3,4877,HARUTYUNYAN Arsen,Arsen,male,male,AM,True,genderize.IO,10342,0.99
4,4878,TEVANYAN Vazgen,Vazgen,male,male,AM,True,genderize.IO,398,0.98

In [30]:
df_kaggleFirstCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9078 entries, 0 to 9077
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             9078 non-null   int64
 1   fullName          9078 non-null   object
 2   namePassed        9078 non-null   object
 3   correctGender     9078 non-null   object
 4   predictedGender   8967 non-null   object
 5   localization      9078 non-null   object
 6   useLocalization   9078 non-null   bool
 7   serviceUsed       9078 non-null   object
 8   extraCount        9078 non-null   int64
 9   extraProbability  9078 non-null   float64
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 647.3+ KB

In [31]:
df_kaggleFirstCountry['predictedGender'].value_counts(dropna=False)

predictedGender
male      4720
female    4247
NaN        111
Name: count, dtype: int64

In [32]:
df_kaggleFirstCountry = fillNaWithUnknown(df_kaggleFirstCountry)
print(df_kaggleFirstCountry['predictedGender'].value_counts(dropna=False))
df_kaggleFirstCountry['correctGender'].value_counts(dropna=False)

predictedGender
male       4720
female     4247
unknown     111
Name: count, dtype: int64

correctGender
male      4672
female    4406
Name: count, dtype: int64

In [39]:
df_kaggleFirstCountry = addIsCorrectColumn(df_kaggleFirstCountry)
df_kaggleFirstCountry['isCorrect'].value_counts()

isCorrect
True     8471
False     607
Name: count, dtype: int64

In [42]:
df_kaggleFirstCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/Genderize/kaggleFirstCountryPre.csv", index=False)

In [43]:
try:
    del df_kaggleFirstCountry
except:
    pass

## Wikidata First Country

In [44]:
df_wikidataFirstCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/Genderize/wikidataFirstCountry.csv")

In [45]:
df_wikidataFirstCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3645 entries, 0 to 3644
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             3645 non-null   int64
 1   fullName          3645 non-null   object
 2   namePassed        3645 non-null   object
 3   correctGender     3645 non-null   object
 4   predictedGender   3606 non-null   object
 5   localization      3645 non-null   object
 6   useLocalization   3645 non-null   bool
 7   serviceUsed       3645 non-null   object
 8   extraCount        3645 non-null   int64
 9   extraProbability  3645 non-null   float64
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 260.0+ KB

In [47]:
df_wikidataFirstCountry['predictedGender'].value_counts(dropna=False)

predictedGender
male      1832
female    1774
NaN         39
Name: count, dtype: int64

In [49]:
df_wikidataFirstCountry = fillNaWithUnknown(df_wikidataFirstCountry)
df_wikidataFirstCountry = addIsCorrectColumn(df_wikidataFirstCountry)
df_wikidataFirstCountry['predictedGender'].value_counts(dropna=False)

predictedGender
male       1832
female     1774
unknown      39
Name: count, dtype: int64

In [53]:
df_wikidataFirstCountry.describe(include='object')

,fullName,namePassed,correctGender,predictedGender,localization,serviceUsed
count,3645,3645,3645,3645,3645,3645
unique,3641,2535,2,3,148,1
top,Katalin Fodor,Buddy,female,male,US,genderize.IO
freq,2,34,1875,1832,483,3645

In [54]:
df_wikidataFirstCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/Genderize/wikidataFirstCountryPre.csv", index=False)

In [55]:
try:
    del df_wikidataFirstCountry
except:
    pass

## wikidata First No Country

In [5]:
df_wikidataFirstNoCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/Genderize/wikidataFirstNoCountry.csv")

In [6]:
df_wikidataFirstNoCountry.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3937 entries, 0 to 3936
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             3937 non-null   int64
 1   fullName          3937 non-null   object
 2   namePassed        3937 non-null   object
 3   correctGender     3937 non-null   object
 4   predictedGender   3937 non-null   object
 5   localization      3645 non-null   object
 6   useLocalization   3937 non-null   bool
 7   serviceUsed       3937 non-null   object
 8   extraCount        3937 non-null   int64
 9   extraProbability  3937 non-null   float64
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 280.8+ KB

In [7]:
df_wikidataFirstNoCountry = addIsCorrectColumn(df_wikidataFirstNoCountry)
df_wikidataFirstNoCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3937 entries, 0 to 3936
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             3937 non-null   int64
 1   fullName          3937 non-null   object
 2   namePassed        3937 non-null   object
 3   correctGender     3937 non-null   object
 4   predictedGender   3937 non-null   object
 5   localization      3645 non-null   object
 6   useLocalization   3937 non-null   bool
 7   serviceUsed       3937 non-null   object
 8   extraCount        3937 non-null   int64
 9   extraProbability  3937 non-null   float64
 10  isCorrect         3937 non-null   bool
dtypes: bool(2), float64(1), int64(2), object(6)
memory usage: 284.6+ KB

In [8]:
df_wikidataFirstNoCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/Genderize/wikidataFirstNoCountryPre.csv", index=False)

In [9]:
try:
    del df_wikidataFirstNoCountry
except:
    pass

# GenderAPI.io

## Kaggle First Country

In [5]:
df_kaggleFirstCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/GenderAPIIO/kaggleFirstCountry.csv")

In [6]:
df_kaggleFirstCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9078 entries, 0 to 9077
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      9078 non-null   object
 1   fullName                   9078 non-null   object
 2   namePassed                 9075 non-null   object
 3   correctGender              9078 non-null   object
 4   predictedGender            9077 non-null   object
 5   localization               9078 non-null   object
 6   useLocalization            9078 non-null   object
 7   serviceUsed                9078 non-null   object
 8   extraTotalName             9078 non-null   object
 9   extraProbability           9078 non-null   object
 10  extraCountryUsedByService  9076 non-null   object
 11  extraUsedAI                9078 non-null   object
 12  extraForcedGenderize       9078 non-null   object
dtypes: object(13)
memory usage: 922.1+ KB

In [10]:
df_kaggleFirstCountry = df_kaggleFirstCountry.dropna(axis=0)
df_kaggleFirstCountry = addIsCorrectColumn(df_kaggleFirstCountry)
df_kaggleFirstCountry.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9073 entries, 0 to 9077
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      9073 non-null   object
 1   fullName                   9073 non-null   object
 2   namePassed                 9073 non-null   object
 3   correctGender              9073 non-null   object
 4   predictedGender            9073 non-null   object
 5   localization               9073 non-null   object
 6   useLocalization            9073 non-null   object
 7   serviceUsed                9073 non-null   object
 8   extraTotalName             9073 non-null   object
 9   extraProbability           9073 non-null   object
 10  extraCountryUsedByService  9073 non-null   object
 11  extraUsedAI                9073 non-null   object
 12  extraForcedGenderize       9073 non-null   object
 13  isCorrect                  9073 non-null   bool
dtypes: bool(1), object(13)
memory usage: 1001.2+ KB

In [18]:
df_kaggleFirstCountry.describe()

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extraTotalName,extraProbability,extraCountryUsedByService,extraUsedAI,extraForcedGenderize,isCorrect
count,9073,9073,9073,9073,9073,9073,9073,9073,9073,9073,9073,9073,9073,9073
unique,8824,8814,4643,3,3,192,2,2,1782,52,170,2,2,2
top,unknown,unknown,unknown,male,male,US,True,genderAPI.io,1,100,US,False,False,True
freq,250,250,250,4530,4727,676,8823,8823,565,5282,942,8823,8823,8666

In [19]:
df_kaggleFirstCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/GenderAPIIO/kaggleFirstCountryPre.csv", index=False)

In [20]:
try:
    del df_kaggleFirstCountry
except:
    pass

## Wikidata First Country

In [64]:
df_wikidataFirstCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/GenderAPIIO/wikidataFirstCountry.csv")

In [65]:
df_wikidataFirstCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3645 entries, 0 to 3644
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      3645 non-null   int64
 1   fullName                   3645 non-null   object
 2   namePassed                 3532 non-null   object
 3   correctGender              3645 non-null   object
 4   predictedGender            3645 non-null   object
 5   localization               3645 non-null   object
 6   useLocalization            3645 non-null   bool
 7   serviceUsed                3645 non-null   object
 8   extraTotalName             3645 non-null   int64
 9   extraProbability           3645 non-null   int64
 10  extraCountryUsedByService  3584 non-null   object
 11  extraUsedAI                3645 non-null   bool
 12  extraForcedGenderize       3645 non-null   bool
dtypes: bool(3), int64(3), object(7)
memory usage: 295.6+ KB

In [66]:
df_wikidataFirstCountry['predictedGender'].value_counts()

predictedGender
male       1795
female     1732
unknown     118
Name: count, dtype: int64

In [67]:
df_wikidataFirstCountry = addIsCorrectColumn(df_wikidataFirstCountry)
df_wikidataFirstCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3645 entries, 0 to 3644
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      3645 non-null   int64
 1   fullName                   3645 non-null   object
 2   namePassed                 3532 non-null   object
 3   correctGender              3645 non-null   object
 4   predictedGender            3645 non-null   object
 5   localization               3645 non-null   object
 6   useLocalization            3645 non-null   bool
 7   serviceUsed                3645 non-null   object
 8   extraTotalName             3645 non-null   int64
 9   extraProbability           3645 non-null   int64
 10  extraCountryUsedByService  3584 non-null   object
 11  extraUsedAI                3645 non-null   bool
 12  extraForcedGenderize       3645 non-null   bool
 13  isCorrect                  3645 non-null   bool
dtypes: bool(4), int64(3), object(7)
memory usage: 299.1+ KB

In [68]:
df_wikidataFirstCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/GenderAPIIO/wikidataFirstCountryPre.csv", index=False)

In [69]:
try:
    del df_wikidataFirstCountry
except:
    pass

## Wikidata First No country

In [70]:
df_wikidataFirstNoCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/GenderAPIIO/wikidataFirstNoCountry.csv")

In [71]:
df_wikidataFirstNoCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3937 entries, 0 to 3936
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      3937 non-null   int64
 1   fullName                   3937 non-null   object
 2   namePassed                 3868 non-null   object
 3   correctGender              3937 non-null   object
 4   predictedGender            3937 non-null   object
 5   localization               3645 non-null   object
 6   useLocalization            3937 non-null   bool
 7   serviceUsed                3937 non-null   object
 8   extraTotalName             3937 non-null   int64
 9   extraProbability           3937 non-null   int64
 10  extraCountryUsedByService  3855 non-null   object
 11  extraUsedAI                3937 non-null   bool
 12  extraForcedGenderize       3937 non-null   bool
dtypes: bool(3), int64(3), object(7)
memory usage: 319.2+ KB

In [72]:
df_wikidataFirstNoCountry['namePassed'].value_counts(dropna=False)

namePassed
NaN         69
buddy       34
cristina    23
jean        18
denise      18
            ..
ghaniyya     1
mervat       1
enayat       1
awa          1
manuella     1
Name: count, Length: 2637, dtype: int64

In [73]:
df_all = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/all.csv")

In [74]:
id_to_firstname = df_all.set_index('id')['firstName']

# Fill missing values in namePassed
df_wikidataFirstNoCountry['namePassed'] = df_wikidataFirstNoCountry['namePassed'].fillna(
    df_wikidataFirstNoCountry['index'].map(id_to_firstname)
)
df_wikidataFirstNoCountry['namePassed'].value_counts(dropna=False)

namePassed
buddy       34
cristina    23
jean        18
denise      18
daniela     17
            ..
osvaldo      1
mário        1
lalo         1
ismail       1
gilberto     1
Name: count, Length: 2698, dtype: int64

In [75]:
df_wikidataFirstNoCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3937 entries, 0 to 3936
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      3937 non-null   int64
 1   fullName                   3937 non-null   object
 2   namePassed                 3937 non-null   object
 3   correctGender              3937 non-null   object
 4   predictedGender            3937 non-null   object
 5   localization               3645 non-null   object
 6   useLocalization            3937 non-null   bool
 7   serviceUsed                3937 non-null   object
 8   extraTotalName             3937 non-null   int64
 9   extraProbability           3937 non-null   int64
 10  extraCountryUsedByService  3855 non-null   object
 11  extraUsedAI                3937 non-null   bool
 12  extraForcedGenderize       3937 non-null   bool
dtypes: bool(3), int64(3), object(7)
memory usage: 319.2+ KB

In [76]:
df_wikidataFirstNoCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/GenderAPIIO/wikidataFirstNoCountryPre.csv", index=False)

# GenderAPI.com

## Kaggle First country

In [11]:
df_kaggleFirstCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/GenderAPIcom/kaggleFirstCountry.csv")
df_kaggleFirstCountry.head()

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extra_useFullName,extraProbability,extraIdentifiedFirstName,extraIdentifiedLastName
0,4874,ALEKSANYAN Artur,Artur,male,male,AM,True,genderAPI.com,False,0.99,Artur,NaN
1,4875,AMOYAN Malkhas,Malkhas,male,male,AM,True,genderAPI.com,False,1.0,Malkhas,NaN
2,4876,GALSTYAN Slavik,Slavik,male,male,AM,True,genderAPI.com,False,0.99,Slavik,NaN
3,4877,HARUTYUNYAN Arsen,Arsen,male,male,AM,True,genderAPI.com,False,1.0,Arsen,NaN
4,4878,TEVANYAN Vazgen,Vazgen,male,male,AM,True,genderAPI.com,False,1.0,Vazgen,NaN

In [12]:
print(df_kaggleFirstCountry.shape)
df_kaggleFirstCountry.info()

(9078, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9078 entries, 0 to 9077
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     9078 non-null   int64
 1   fullName                  9078 non-null   object
 2   namePassed                9078 non-null   object
 3   correctGender             9078 non-null   object
 4   predictedGender           8867 non-null   object
 5   localization              9078 non-null   object
 6   useLocalization           9078 non-null   bool
 7   serviceUsed               9078 non-null   object
 8   extra_useFullName         9078 non-null   bool
 9   extraProbability          8867 non-null   object
 10  extraIdentifiedFirstName  8867 non-null   object
 11  extraIdentifiedLastName   7 non-null      object
dtypes: bool(2), int64(1), object(9)
memory usage: 727.1+ KB

In [13]:
df_kaggleFirstCountry['predictedGender'].value_counts(dropna=False)

predictedGender
male       4713
female     4101
NaN         211
unknown      46
ERROR         7
Name: count, dtype: int64

In [14]:
df_kaggleFirstCountry[df_kaggleFirstCountry['predictedGender'].isna()]

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extra_useFullName,extraProbability,extraIdentifiedFirstName,extraIdentifiedLastName
45,4947,MAGOMEDOMAROV Magomedomar,Magomedomar,male,NaN,RU,True,genderAPI.com,False,NaN,NaN,NaN
47,4949,BISHRELT Khorloodoi,Khorloodoi,female,NaN,MN,True,genderAPI.com,False,NaN,NaN,NaN
59,4973,SIMWAKA Asimenye,Asimenye,female,NaN,MW,True,genderAPI.com,False,NaN,NaN,NaN
90,5024,ALEMU Habitam,Habitam,female,NaN,ET,True,genderAPI.com,False,NaN,NaN,NaN
106,5044,HARRIS Naquille,Naquille,male,NaN,US,True,genderAPI.com,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8941,15814,APHIBARNRAT Kiradech,Kiradech,male,NaN,TH,True,genderAPI.com,False,NaN,NaN,NaN
8947,15823,AGUILAR Yulenmis,Yulenmis,female,NaN,CU,True,genderAPI.com,False,NaN,NaN,NaN
8951,15827,LALOMILO Lalomilo,Lalomilo,male,NaN,WS,True,genderAPI.com,False,NaN,NaN,NaN
8956,15832,TAN Rouxin,Rouxin,female,NaN,MY,True,genderAPI.com,False,NaN,NaN,NaN
9035,15933,VONGSUKDEE Thongphaphum,Thongphaphum,male,NaN,TH,True,genderAPI.com,False,NaN,NaN,NaN

In [15]:
df_kaggleFirstCountry = fillNaWithUnknown(df_kaggleFirstCountry)
df_kaggleFirstCountry = addIsCorrectColumn(df_kaggleFirstCountry)
df_kaggleFirstCountry = df_kaggleFirstCountry.loc[
    df_kaggleFirstCountry['predictedGender']!="ERROR"
    ]

df_kaggleFirstCountry.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9071 entries, 0 to 9077
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     9071 non-null   int64
 1   fullName                  9071 non-null   object
 2   namePassed                9071 non-null   object
 3   correctGender             9071 non-null   object
 4   predictedGender           9071 non-null   object
 5   localization              9071 non-null   object
 6   useLocalization           9071 non-null   bool
 7   serviceUsed               9071 non-null   object
 8   extra_useFullName         9071 non-null   bool
 9   extraProbability          8860 non-null   object
 10  extraIdentifiedFirstName  8860 non-null   object
 11  extraIdentifiedLastName   0 non-null      object
 12  isCorrect                 9071 non-null   bool
dtypes: bool(3), int64(1), object(9)
memory usage: 806.1+ KB

In [16]:
df_kaggleFirstCountry['predictedGender'].value_counts(dropna=False)

predictedGender
male       4713
female     4101
unknown     257
Name: count, dtype: int64

In [17]:
df_kaggleFirstCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/GenderAPIcom/kaggleFirstCountryPre.csv", index=False)

In [18]:
try : 
    del df_kaggleFirstCountry
except:
    pass

## Wikidata first Country

In [28]:
df_wikidataFirstCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/GenderAPIcom/wikidataFirstCountry.csv")

print(df_wikidataFirstCountry.shape)
print(df_wikidataFirstCountry.info())
df_wikidataFirstCountry.head()

(3645, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3645 entries, 0 to 3644
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     3645 non-null   int64
 1   fullName                  3645 non-null   object
 2   namePassed                3645 non-null   object
 3   correctGender             3645 non-null   object
 4   predictedGender           3557 non-null   object
 5   localization              3645 non-null   object
 6   useLocalization           3645 non-null   bool
 7   serviceUsed               3645 non-null   object
 8   extra_useFullName         3645 non-null   bool
 9   extraProbability          3557 non-null   object
 10  extraIdentifiedFirstName  3557 non-null   object
 11  extraIdentifiedLastName   18 non-null     object
dtypes: bool(2), int64(1), object(9)
memory usage: 292.0+ KB
None

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extra_useFullName,extraProbability,extraIdentifiedFirstName,extraIdentifiedLastName
0,0,Clara Benson,Clara,female,female,GH,True,genderAPI.com,False,0.98,Clara,NaN
1,2,Dalia Ziada,Dalia,female,female,EG,True,genderAPI.com,False,0.98,Dalia,NaN
2,3,Fatou Haidara,Fatou,female,female,ML,True,genderAPI.com,False,0.97,Fatou,NaN
3,7,Diallo Sène,Diallo,female,male,ML,True,genderAPI.com,False,0.86,Diallo,NaN
4,8,Fatoumata Sylla,Fatoumata,female,female,ML,True,genderAPI.com,False,0.98,Fatoumata,NaN

In [29]:
df_wikidataFirstCountry['predictedGender'].value_counts(dropna=False)

predictedGender
male       1781
female     1734
NaN          88
unknown      24
ERROR        18
Name: count, dtype: int64

Based on the logic we've already established, the NA values are equivalent to unknowns.

In [30]:
df_wikidataFirstCountry = fillNaWithUnknown(df_wikidataFirstCountry)
df_wikidataFirstCountry = addIsCorrectColumn(df_wikidataFirstCountry)

df_wikidataFirstCountry = df_wikidataFirstCountry.loc[
    df_wikidataFirstCountry['predictedGender'] != "ERROR"
]
df_wikidataFirstCountry.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3627 entries, 0 to 3626
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     3627 non-null   int64
 1   fullName                  3627 non-null   object
 2   namePassed                3627 non-null   object
 3   correctGender             3627 non-null   object
 4   predictedGender           3627 non-null   object
 5   localization              3627 non-null   object
 6   useLocalization           3627 non-null   bool
 7   serviceUsed               3627 non-null   object
 8   extra_useFullName         3627 non-null   bool
 9   extraProbability          3539 non-null   object
 10  extraIdentifiedFirstName  3539 non-null   object
 11  extraIdentifiedLastName   0 non-null      object
 12  isCorrect                 3627 non-null   bool
dtypes: bool(3), int64(1), object(9)
memory usage: 322.3+ KB

In [31]:
df_wikidataFirstCountry['predictedGender'].value_counts(dropna=False)

predictedGender
male       1781
female     1734
unknown     112
Name: count, dtype: int64

In [33]:
df_wikidataFirstCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/GenderAPIcom/wikidataFirstCountryPre.csv", index=False)

In [34]:
try: 
    del df_wikidataFirstCountry
except:
    pass

## Wikidata first no country

In [35]:
df_wikidataFirstNoCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/GenderAPIcom/wikidataFirstNoCountry.csv")
print(df_wikidataFirstNoCountry.info())
df_wikidataFirstNoCountry.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3937 entries, 0 to 3936
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     3937 non-null   int64
 1   fullName                  3937 non-null   object
 2   namePassed                3937 non-null   object
 3   correctGender             3937 non-null   object
 4   predictedGender           3937 non-null   object
 5   localization              3645 non-null   object
 6   useLocalization           3937 non-null   bool
 7   serviceUsed               3937 non-null   object
 8   extra_useFullName         3937 non-null   bool
 9   extraProbability          3840 non-null   float64
 10  extraIdentifiedFirstName  3840 non-null   object
 11  extraIdentifiedLastName   0 non-null      float64
dtypes: bool(2), float64(2), int64(1), object(7)
memory usage: 315.4+ KB
None

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extra_useFullName,extraProbability,extraIdentifiedFirstName,extraIdentifiedLastName
0,0,Clara Benson,Clara,female,female,GH,False,genderAPI.com,False,0.97,Clara,NaN
1,2,Dalia Ziada,Dalia,female,female,EG,False,genderAPI.com,False,0.99,Dalia,NaN
2,3,Fatou Haidara,Fatou,female,female,ML,False,genderAPI.com,False,0.97,Fatou,NaN
3,4,Claude Haffner,Claude,female,male,NaN,False,genderAPI.com,False,0.89,Claude,NaN
4,7,Diallo Sène,Diallo,female,male,ML,False,genderAPI.com,False,0.81,Diallo,NaN

In [39]:
df_wikidataFirstNoCountry['predictedGender'].value_counts(dropna=False)

predictedGender
male       1984
female     1832
unknown     121
Name: count, dtype: int64

This one was already treated for the NA values during the testing phase.

In [ ]:
df_wikidataFirstNoCountry = addIsCorrectColumn(df_wikidataFirstNoCountry)

In [40]:
df_wikidataFirstNoCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/GenderAPIcom/wikidataFirstNoCountryPre.csv", index=False)

In [41]:
try:
    del df_wikidataFirstNoCountry
except:
    pass