The goal of this notebook is to smooth out the differences between various tools used in this study when collecting their answers on our datasets. It does not change the nature of their answer, but simply insure that they can be processed for analysis without trouble.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%cd ../..
%load_ext autoreload
%autoreload 2

c:\Users\brief
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

C:\Users\brief\AppData\Roaming\Python\Python312\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [27]:
def fillNaWithUnknown(df:pd.DataFrame)->pd.DataFrame:
    df.loc[df['predictedGender'].isna(), 'predictedGender'] = "unknown"
    return df

In [37]:
def addIsCorrectColumn(df:pd.DataFrame)->pd.DataFrame:
    df["isCorrect"] = df['correctGender'] == df['predictedGender']
    return df

# Genderize

## Kaggle First Country

In [28]:
df_kaggleFirstCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/Genderize/kaggleFirstCountry.csv")

In [29]:
df_kaggleFirstCountry.head()

,index,fullName,namePassed,correctGender,predictedGender,localization,useLocalization,serviceUsed,extraCount,extraProbability
0,4874,ALEKSANYAN Artur,Artur,male,male,AM,True,genderize.IO,138242,1.00
1,4875,AMOYAN Malkhas,Malkhas,male,male,AM,True,genderize.IO,3,1.00
2,4876,GALSTYAN Slavik,Slavik,male,male,AM,True,genderize.IO,2018,0.99
3,4877,HARUTYUNYAN Arsen,Arsen,male,male,AM,True,genderize.IO,10342,0.99
4,4878,TEVANYAN Vazgen,Vazgen,male,male,AM,True,genderize.IO,398,0.98

In [30]:
df_kaggleFirstCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9078 entries, 0 to 9077
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             9078 non-null   int64
 1   fullName          9078 non-null   object
 2   namePassed        9078 non-null   object
 3   correctGender     9078 non-null   object
 4   predictedGender   8967 non-null   object
 5   localization      9078 non-null   object
 6   useLocalization   9078 non-null   bool
 7   serviceUsed       9078 non-null   object
 8   extraCount        9078 non-null   int64
 9   extraProbability  9078 non-null   float64
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 647.3+ KB

In [31]:
df_kaggleFirstCountry['predictedGender'].value_counts(dropna=False)

predictedGender
male      4720
female    4247
NaN        111
Name: count, dtype: int64

In [32]:
df_kaggleFirstCountry = fillNaWithUnknown(df_kaggleFirstCountry)
print(df_kaggleFirstCountry['predictedGender'].value_counts(dropna=False))
df_kaggleFirstCountry['correctGender'].value_counts(dropna=False)

predictedGender
male       4720
female     4247
unknown     111
Name: count, dtype: int64

correctGender
male      4672
female    4406
Name: count, dtype: int64

In [39]:
df_kaggleFirstCountry = addIsCorrectColumn(df_kaggleFirstCountry)
df_kaggleFirstCountry['isCorrect'].value_counts()

isCorrect
True     8471
False     607
Name: count, dtype: int64

In [42]:
df_kaggleFirstCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/Genderize/kaggleFirstCountryPre.csv", index=False)

In [43]:
try:
    del df_kaggleFirstCountry
except:
    pass

## Wikidata First Country

In [44]:
df_wikidataFirstCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/Genderize/wikidataFirstCountry.csv")

In [45]:
df_wikidataFirstCountry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3645 entries, 0 to 3644
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             3645 non-null   int64
 1   fullName          3645 non-null   object
 2   namePassed        3645 non-null   object
 3   correctGender     3645 non-null   object
 4   predictedGender   3606 non-null   object
 5   localization      3645 non-null   object
 6   useLocalization   3645 non-null   bool
 7   serviceUsed       3645 non-null   object
 8   extraCount        3645 non-null   int64
 9   extraProbability  3645 non-null   float64
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 260.0+ KB

In [47]:
df_wikidataFirstCountry['predictedGender'].value_counts(dropna=False)

predictedGender
male      1832
female    1774
NaN         39
Name: count, dtype: int64

In [49]:
df_wikidataFirstCountry = fillNaWithUnknown(df_wikidataFirstCountry)
df_wikidataFirstCountry = addIsCorrectColumn(df_wikidataFirstCountry)
df_wikidataFirstCountry['predictedGender'].value_counts(dropna=False)

predictedGender
male       1832
female     1774
unknown      39
Name: count, dtype: int64

In [53]:
df_wikidataFirstCountry.describe(include='object')

,fullName,namePassed,correctGender,predictedGender,localization,serviceUsed
count,3645,3645,3645,3645,3645,3645
unique,3641,2535,2,3,148,1
top,Katalin Fodor,Buddy,female,male,US,genderize.IO
freq,2,34,1875,1832,483,3645

In [54]:
df_wikidataFirstCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/Genderize/wikidataFirstCountryPre.csv", index=False)

In [55]:
try:
    del df_wikidataFirstCountry
except:
    pass

## wikidata First No Country

In [56]:
df_wikidataFirstNoCountry = pd.read_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/TestedData/Genderize/wikidataFirstNoCountry.csv")

In [57]:
df_wikidataFirstNoCountry.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3937 entries, 0 to 3936
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             3937 non-null   int64
 1   fullName          3937 non-null   object
 2   namePassed        3937 non-null   object
 3   correctGender     3937 non-null   object
 4   predictedGender   3937 non-null   object
 5   localization      3645 non-null   object
 6   useLocalization   3937 non-null   bool
 7   serviceUsed       3937 non-null   object
 8   extraCount        3937 non-null   int64
 9   extraProbability  3937 non-null   float64
dtypes: bool(1), float64(1), int64(2), object(6)
memory usage: 280.8+ KB

In [63]:
df_wikidataFirstNoCountry.to_csv("C:/Users/brief/Desktop/Master/Ecole/Semestre3/M8_ProjetDeRecherche/code_ProjetDeRecherche/data/preprocessedTestData/Genderize/wikidataFirstNoCountryPre.csv", index=False)

In [64]:
try:
    del df_wikidataFirstNoCountry
except:
    pass